<head>

    <!-- <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> -->
        
      </head>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active">DatingApp</a>
            
            <!-- <ul class="navbar-nav me-auto" *ngIf = "accountService.currentUser$ | async"> -->
              <ul class="navbar-nav me-auto">
                <ng-container *ngIf="accountService.currentUser$ | async">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
                  </li>
                </ng-container>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/errors" routerLinkActive="active">Errors</a>
                </li>
              </ul>

              <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
                <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
                  <a class="dropdown-toggle ml-2 text-light" style="margin-left: 20px;" dropdownToggle>Welcome {{user.username | titlecase}}</a>
                <div class="dropdown-menu mt-3" style="margin-top: 30px;" *dropdownMenu>
                  <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </div>

              <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm = "ngForm" class="d-flex" role="search" (ngSubmit) = "login()"
               autocomplete="off">
                <input
                name = "username"
                [(ngModel)]= "model.username" 
                class="form-control me-2" 
                type="search" 
                placeholder="Username">
                <input 
                name = "password"
                [(ngModel)]= "model.password"
                class="form-control me-2" 
                type="password" 
                placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
              </form>
            </div>
  </nav>